*{
    margin: 0;
    font-family: AmazonEmber_bd;
    border:border-box;
    

}

.navbar{
    height: 60px;
    background-color: #0F1111 ;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo
{
    height: 40px;
    width:99px;
    padding-top: 6px;
    padding-left: 5px;
    margin-right: 8px;
   
    
}
.logo
{
    background-image: url("pngimg.com\ -\ amazon_PNG252.png");
    height: 40px;
    background-size: cover;
    
    
    

}
.border
{
    border: 2px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
    border-radius: 2px;
}

.add-first
{
    
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 16px;
    
}
.add-second
{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 4px;
}
.add-icon
{
    display: flex;
    align-items: center;
    
    
}
.nav-search
{
    display: flex;
    justify-content: space-evenly ;
    background-color: pink;
    width: 620px;
    height:40px;
    border-radius: 4px;


}
.nav-search:hover{
    border:3px solid #febd68
}
.search-select
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border: none;
}
.search-input
{
    width: 100%;
    font-size:1rem;
    border:none;
}
.search-icon
{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color:#febd68 ;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0F1111
}
span{
    font-size: 0.75rem;
    font-family: Amazon-Ember-Medium;

}
.nav-second
{
    font-size: 0.85rem;



}
.nav-cart i
{
    font-size: 30px ;
}
.nav-cart
{
    font-size: 0.85rem;
}

.panel
{
    height: 40px;
    background: #222f3d;
    display:flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    



}
.panel-ops li{
    display: inline;
    text-decoration: none;
    margin-left: 15px;
    font-family: Amazon-Ember-Medium;
    font-size: 0.85rem;
}
.panel-ops{
    width:75%;
    font-weight: 400;
}
.hero-section
{
    background-image: url("61lwJy4B8PL._SX3000_.jpg");
    height: 350px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: end;
}
.hero-message
{
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:94%;
    font-size: 0.85rem;
    margin-bottom: 40px

    

}
.hero-message p{
    font-family:AmazonEmber_Rg;
}
.hero-message a{
    color:#007185;
    text-decoration: none;
    font-family:AmazonEmber_Rg;
}
.shop-section
{
    display:flex;
    justify-content: space-evenly;
    background-color: #FEC8D8;
    flex-wrap: wrap ;
    

}
.shop-section>* {
    flex: 1 1 235px;
}
.box
{
    
    height:400px;
    width:23%;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 15px;



     

}
.box h2{
    font-family:AmazonEmber_Rg ;
}
.box-img
{
    background-size: cover;
    height:300px;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;

}
.box-content
{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}
.box-content p{
    color: #007185;
    font-family:  Amazon-Ember-Medium;

}
.box-content p:hover{
    color:#febd68;

}
.box-content :hover{
    color:#febd68;

}
footer{
    margin-top: 15px;
}
.foot-panel1
{
    background-color:#37475a ;
    color:#ffffff;
    height:3rem;
    display:flex;
    justify-content: center;
    align-items: center;

}
.foot-panel1 p{
    font-family: Amazon-Ember-Medium;
    font-size: 0.85rem;
}
.foot-panel2
{
    background-color: #222f3d;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    color: #ffffff;
    padding-top: 10px;

}
.foot-panel2 li{
    list-style-type: none;
    font-family: Amazon-Ember-Medium;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top:13px;
    color:#dddddd;
    text-decoration: none;

}
.foot-panel3
{
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("pngimg.com - amazon_PNG252.png");
    height: 40px;
    background-size: cover;
    width: 100px;



}
.foot-panel4
{
    background-color:#131a22;
    color:#ffffff;
    height:5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.foot-panel4 a{
    text-decoration: none;
    color: white;
    padding-left:15px;
    font-family:AmazonEmber_Rg;
    font-size: 0.75rem;
}
.foot-panel4 p{
    font-family:AmazonEmber_Rg;
    font-size: 0.75rem;
    padding-top:5px
}
 